.ant-table-content {
  border-radius: 5px;
}

.App {
  text-align: center;
}

.table {
  margin: 40px;
}

.ant-btn-primary {
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.Page3 {
  display: flex;
  flex-direction: column;
}

.ant-alert-with-description {
  margin: 40px;
}